* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body{
    font-family: Arial;
    margin: 0;
 
  }
  
  
  /* Header/logo Title */
  .logo{
    margin-left: 2%;
    flex-basis: 0%;
  }
  .logo img{
  width: 135px;
  }
  
  
  
  /* Change color on hover */
  
  
  li a:hover{
    color: rgb(253, 253, 253);
    background-color: rgb(73, 84, 213);
  }
  
  a{
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* felx content*/
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-container >div {
    margin: 2%;
    text-align:center;
    padding:3%;
    
  }
  /* Main column */
  .card {
    width:fit-content;
    background-color: rgb(255, 255, 255);
    border-style:solid;
    border-width: 1px;
    color:rgb(77, 105, 206);
    border-color:rgb(0, 0, 0) ;
    border-radius: 7px;
    }
    
  
  
   h2,h3{
      font-family: Copperplate Gothic ;
     font-size: 20px;
    }
    h5{
      font-size: 15px;
    }
  .card:hover,.logo:hover {
    box-shadow: 0 2px 1px 0.25px rgb(25, 32, 31),0 5px 10px 0 rgba(0, 0, 0, 0.986);
  }
  
  a{
    text-decoration: none;
    border-radius: 5px;
  }
  .fa-instagram {
    background: rgb(152, 59, 102);
    width: 20px;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;width: 20px;
  }
  .fa-whatsapp {
    background: green;
    color: white;width: 20px;
  }
  
  
  /* Footer */
  .footer{
    padding: 15px;
    text-align: center;
    background-color: #606b75;
    color: #ffffff;
   width: 100%;
  }
  hr{
    margin-top: 5%;
  width: 100%;
  
  }
  
  
  /* links */
  #a1{
    background-color:#e3f2fd;
    color: rgb(8, 8, 8);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-family: Bahnschrift;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
  }
  #a1:hover{
    box-shadow: 0 5px 10px 1px rgb(233, 231, 231),0 5px 15px 0 rgba(23, 23, 23, 0.986);
  }
  
  
  
